# Compilations and Binaries
*.exe
*.out
*.app
*.o
*.obj
src/*.o
tests/*.o

# Database States & Runtime Data
*.state.json
*.db
*.idx
default.state.json
Database.state.json

# Logs
*.log
audit.log
luminix.log

# IDEs & Editor Files
.vscode/
.idea/
*.suo
*.user
*.pdb

# Local / Temp / Build Files
output.txt
test_quick.exe
/scratch/
zig.zip
zig-windows-*/
zig-cache/
dummy.c
test.c
build_output.txt
gcc_out.txt
